<?xml version="1.0"?>
<launch>
    <node pkg="ndt_fuser" type="ndt_fuser" name="laser_fuser_2d" output="screen">
	<param name="laser_topic" value="/laserscan" />
	<param name="matchLaser" value="true" />
	<param name="size_x_meters" value="40" />
	<param name="size_y_meters" value="40" />
	<param name="size_z_meters" value="0.1" />
	<param name="resolution" value="0.2" />
	<param name="sensor_range" value="20." />
	<param name="sensor_pose_x" value="0.115" />
	<param name="beHMT" value="true" />
	<param name="useOdometry" value="true" />
	<param name="odometry_topic" value="/vmc_navserver/odom" />
	<param name="visualize" value="true" />
    </node>
</launch>
